<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website to ask religious questions, share Christian stories, and read the KJV Bible.">
    <meta name="keywords" content="Christianity, Bible, Religious Questions, KJV">
    <meta name="author" content="Your Website Name">
    
    <title>Post a Story</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="bg-image"></div>
    <h2>Post a Story</h2>

    <form method="POST" action="{% url 'post_story' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <p>
        <a href="{% url 'stories_list' %}">View All Stories</a>
    </p>

</body>
</html>
