<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website to ask religious questions, share Christian stories, and read the KJV Bible.">
    <meta name="keywords" content="Christianity, Bible, Religious Questions, KJV">
    <meta name="author" content="Your Website Name">

    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<style>
    body {
        background: url('/static/images/heaven.jpg') no-repeat center center fixed;
        background-size: cover;
    
    }
    
    .containeri {
        padding: 50px 70px;
        position: fixed;
        color:red;
        text-align: center;


    }


</style>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'questions_list' %}">Questions</a>
        <a href="{% url 'stories_list' %}">Stories</a>
        <a href="{% url 'meet' %}">meeting</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div class="containeri">
        <h2>Sign Up</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>

</body>
</html>
