<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website to ask religious questions, share Christian stories, and read the KJV Bible.">
    <meta name="keywords" content="Christianity, Bible, Religious Questions, KJV">
    <meta name="author" content="Your Website Name">

    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <div class="container">
        <h2>Sign Up</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>

</body>
</html>
